<h1 class="landing_page_intro"> 
    Bible Examiner is a web application with REST API capabilities, 
    using Express.js and Node.js, that allows for comparison between commentary by several
    theologists on The Bible. In other words, it's like a theology compass with theologists
    as reference points.
</h1>

<div class="landing_page_container">
  <div class="landing_page_center">
    <button onclick="window.location='/app';" class="landing_page_btn"> Start studying </button>
  </div>
</div>
