<h1> Here are some of the resources used: </h1>

<ul>
    <li> <a href="https://rapidapi.com/ajith/api/holy-bible/"> Ajith Joseph's API on RapidAPI </a> </li>
    <li> <a href="https://haydockcommentary.com/"> Haydock Commentary for scraping </a> </li>
    <li> <a href="https://www.christianity.com/bible/commentary/john-gill/"> John Gill Commentary </a> </li>
    <li> Ben, for the background image </li>
</ul>