<!DOCTYPE html>

<html>

    <head>
        <title> Bible Examiner </title>
        <meta charset="utf-8">
        <link href="/stylesheet.css" rel="stylesheet">
    </head>

    <body>

        {{{body}}}


    </body>

    <footer>
        <!-- Footer -->
        <p class="footer"> Bible Examiner powered by the Bible and you </p>
    </footer>

</html>