<!DOCTYPE html>

<html>

    <title> Bible Examiner </title>
    <meta charset="utf-8">

    <body>

        {{{body}}}

        <!-- Footer -->
        <p> Bible Examiner powered by you and the Catholic community </p>
    </body>

</html>