<!DOCTYPE html>

<html>

    <head>
        <title> Bible Examiner </title>
        <meta charset="utf-8">
        <link href="/stylesheet.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>

        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/app"> Search for other passage </a>
            <a href="https://github.com/lfbr0/bible-examiner/discussions"> Suggest an idea or contribute </a>
            <a href="/credits"> Credits </a>
            <a href="https://github.com/lfbr0/bible-examiner"> Github page <i class="fa fa-github"> </i> </a>
        </div>

        {{{body}}}


    </body>

</html>