<!DOCTYPE html>

<html>

    <head>
        <title> Bible Examiner </title>
        <meta charset="utf-8">
    </head>

    <body>

        {{{body}}}

        <!-- Footer -->
        <p> Bible Examiner powered by the Bible and you </p>
    </body>

</html>