/* Landing page portion */
.landing_page_intro {
    text-align: justify;
    text-align-last: center;
    width: auto;
}

.landing_page_container {
    height: 200px;
    position: relative;
}

.landing_page_center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.landing_page_btn {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.landing_page_btn:hover, .landing_page_btn:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: rgba(0, 0, 0, 0.65);
}

.landing_page_btn:hover {
    transform: translateY(-1px);
}

.landing_page_btn:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
}

/* part of the stylesheet about the reading app portion */
.intro {
    text-align: center;
    font-size: large;
    font-weight: bold;
    font-family: Garamond, serif;
}

.portrait {
    max-width: 200px;
    max-height: 200px;
}

.reading {
    padding: 60px 80px 40px;
    text-align: center;
    font-style: oblique;
    font-weight: bolder;
    font-size: large;
}

.reading_intro {
    text-align: center;
}

/* layout & generalities portion */
.footer {
    text-align: center;
}

body {
    font-family: Georgia, serif;
}

p {
    font-family: Georgia, serif;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #be3523;
    color: white;
}

body {
background-image: url("/backgrounds/bg0.png");
background-color: #cccccc;
}